  * {
    margin: 0;
    padding: 0;
  }
    .links-section{
        display: flex;
        justify-content:space-evenly;
       align-items: center;
        height: 10vh;
        border: 1px solid rgb(232, 227, 227);
        background-color: rgb(223, 224, 227);
        margin: 0px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
     }
     li{
        list-style: none;
        padding: 1em;
        text-decoration: none;
        
      }
      .left-link{
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
      }
      .right-link{
        display: flex;
        justify-content: space-evenly;
      }
      a:link {
        color: rgb(21, 23, 26);
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: rgb(73, 75, 75);
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: rgb(2, 2, 2);
        background-color: transparent;
        font-weight: 500;
      
      }
      .home-section{
        display: grid;
        height: 250px;
        align-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        
      }
      .home-section p{
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        font-size: larger;
        text-align: center;
      }
      .heading-section h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 2rem;
        color: black;
        padding-top: 1rem;
      }
      .grid-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5%;
        padding: 3%;
      }
      .grid-section img{
         width:45%;
      }

      .grid-section img:hover{
        
        outline: thick solid rgb(86, 250, 206);

     }

      .heading-section p{
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 1rem;
        color: black;
      }

     