body {
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* HEADER */

.headerSec{
  /* background-image: url('https://www.lg.com/eg_en/images/microsite/cookbook-meat-in-pots/cookbook-meat-in-pots-14-Meat-In-Pots-01-KV-D.jpg'); */
  width: 100%;
  height: 400px;
  text-align: center;
  color: white;
  background-color: #d3d0a9;
  opacity: 0.9;
}

.headerSec h1 {
margin: 0%;
font-size: 100px;
background-color: rgba(rgb(87, 65, 65), rgb(29, 35, 29), rgb(34, 34, 45), alpha, 0.1);
}

.headerSec img {
background-repeat: repeat;
background-size: contain;
width: 100%;
object-fit: cover;
height: 400px;;
}


/* /HEADER */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  width: 60%;
  margin: auto;
}

