*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{

line-height: 1.5;

color: rgb(81, 80, 80);
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
background-attachment: fixed;

}

 .App .wrapper{
  background: linear-gradient(rgb(149, 142, 142), white);
display: flex;
justify-content: center;
padding-left: 7%;
padding-right: 7%;
} 



ul, ol{
  padding-left: 40px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  

  

}


main .wrapper{
  padding: 10px 15px;

}
.post{
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
  text-align:justify;
  width: 70%;
  margin: auto;
  /* box-shadow: 0px 2px rgba(185, 136, 136, 0.13) ,-1px -2px rgba(7, 6, 6, 0.05); */

}
.post img{
  display: block;
  height: 50%;
  width: 70%;
margin: auto;
padding: 30px;
 
}
.title{
  display: flex;
  justify-content: center;
  
  text-transform: uppercase;
  font-size: 1.8em;
  color: rgb(81, 80, 80);
}

h2 {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}